<!DOCTYPE HTML>
<html>
	<head>
		<title>Radius by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/boxicons-2.0.3/css/boxicons.min.css">
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="stylesheet" href="/assets/css/mystyle.css" />
	</head>
	<body>

		<!-- Header -->
			<%- include("./partials/header.ejs") %> 

		<!-- Main -->
			<div id="main">
				<div class="inner">
					<div class="columns">

						<!-- Column 1 (horizontal, vertical, horizontal, vertical) -->
							<div class="main-holder">
								<div class="w-100 profile d-flex">
									<div style="background-image: url(/images/pic07.jpg);" class="profile-pic"></div>
									<div class="ml-2 w-100">
										<a class="prof-name">Macaulay Uzu</a>
										<div class="d-flex justify-content-between">
											<div class="prof-location">
												<span class="bx bxs-map-pin"></span> <span>Nigeria</span>
											</div>
											<span class="prof-location">9 secs ago..</span>
										</div>
									</div>
								</div>

								<div style="margin: 0 !important;" class="image fit">
									<a href="detail1.html"><img src="/images/pic01.jpg" alt="" /></a>
								</div>
								
								<div class="w-100 new-div px-3 d-flex justify-content-between align-items-center">
										<i class="bx bxs-heart reactions like-react"></i>
										<i class="bx bxs-comment-dots reactions"></i>
										<i class="bx bxs-bookmark-plus reactions"></i>
									</div>
							</div>
							<div class="main-holder">
								<div class="w-100 profile d-flex">
									<div style="background-image: url(/./images/pic08.jpg);" class="profile-pic"></div>
									<div class="ml-2 w-100">
										<a class="prof-name">Jenny Katherina</a>
										<div class="d-flex justify-content-between">
											<div class="prof-location">
												<span class="bx bxs-map-pin"></span> <span>Nigeria</span>
											</div>
											<span class="prof-location">9 secs ago..</span>
										</div>
									</div>
								</div>

								<div style="margin: 0 !important;" class="image fit">
									<a href="detail1.html"><img src="/images/pic02.jpg" alt="" /></a>
								</div>
								
								<div class="w-100 new-div px-3 d-flex justify-content-between align-items-center">
										<i class="bx bxs-heart reactions like-react"></i>
										<i class="bx bxs-comment-dots reactions"></i>
										<i class="bx bxs-bookmark-plus reactions"></i>
									</div>
							</div>
							<div class="main-holder">
								<div class="w-100 profile d-flex">
									<div style="background-image: url(/./images/pic09.jpg);" class="profile-pic"></div>
									<div class="ml-2 w-100">
										<a class="prof-name">Chloe Raz</a>
										<div class="d-flex justify-content-between">
											<div class="prof-location">
												<span class="bx bxs-map-pin"></span> <span>Nigeria</span>
											</div>
											<span class="prof-location">9 secs ago..</span>
										</div>
									</div>
								</div>

								<div style="margin: 0 !important;" class="image fit">
									<a href="detail1.html"><img src="/images/pic03.jpg" alt="" /></a>
								</div>
								
								<div class="w-100 new-div px-3 d-flex justify-content-between align-items-center">
										<i class="bx bxs-heart reactions like-react"></i>
										<i class="bx bxs-comment-dots reactions"></i>
										<i class="bx bxs-bookmark-plus reactions"></i>
								</div>
							</div>
							<div class="main-holder">
								<div class="w-100 profile d-flex">
									<div style="background-image: url(/./images/pic01.jpg);" class="profile-pic"></div>
									<div class="ml-2 w-100">
										<a class="prof-name">Rose Peterson</a>
										<div class="d-flex justify-content-between">
											<div class="prof-location">
												<span class="bx bxs-map-pin"></span> <span>Nigeria</span>
											</div>
											<span class="prof-location">9 secs ago..</span>
										</div>
									</div>
								</div>

								<div style="margin: 0 !important;" class="image fit">
									<a href="detail1.html"><img src="/images/pic04.jpg" alt="" /></a>
								</div>
								
								<div class="w-100 new-div px-3 d-flex justify-content-between align-items-center">
										<i class="bx bxs-heart reactions like-react"></i>
										<i class="bx bxs-comment-dots reactions"></i>
										<i class="bx bxs-bookmark-plus reactions"></i>
									</div>
							</div>

						<!-- Column 2 (vertical, horizontal, vertical, horizontal) -->
						<div class="main-holder">
							<div class="w-100 profile d-flex">
								<div style="background-image: url(/./images/pic07.jpg);" class="profile-pic"></div>
								<div class="ml-2 w-100">
									<a class="prof-name">Macaulay Uzu</a>
									<div class="d-flex justify-content-between">
										<div class="prof-location">
											<span class="bx bxs-map-pin"></span> <span>Nigeria</span>
										</div>
										<span class="prof-location">9 secs ago..</span>
									</div>
								</div>
							</div>

							<div style="margin: 0 !important;" class="image fit">
								<a href="detail1.html"><img src="/images/pic06.jpg" alt="" /></a>
							</div>
							
							<div class="w-100 new-div px-3 d-flex justify-content-between align-items-center">
									<i class="bx bxs-heart reactions like-react"></i>
									<i class="bx bxs-comment-dots reactions"></i>
									<i class="bx bxs-bookmark-plus reactions"></i>
								</div>
						</div>
						<div class="main-holder">
							<div class="w-100 profile d-flex">
								<div style="background-image: url(/./images/pic01.jpg);" class="profile-pic"></div>
								<div class="ml-2 w-100">
									<a class="prof-name">Rose Peterson</a>
									<div class="d-flex justify-content-between">
										<div class="prof-location">
											<span class="bx bxs-map-pin"></span> <span>Nigeria</span>
										</div>
										<span class="prof-location">9 secs ago..</span>
									</div>
								</div>
							</div>

							<div style="margin: 0 !important;" class="image fit">
								<a href="detail1.html"><img src="/images/pic05.jpg" alt="" /></a>
							</div>
							
							<div class="w-100 new-div px-3 d-flex justify-content-between align-items-center">
									<i class="bx bxs-heart reactions like-react"></i>
									<i class="bx bxs-comment-dots reactions"></i>
									<i class="bx bxs-bookmark-plus reactions"></i>
								</div>
						</div><div class="main-holder">
							<div class="w-100 profile d-flex">
								<div style="background-image: url(/./images/pic01.jpg);" class="profile-pic"></div>
								<div class="ml-2 w-100">
									<a class="prof-name">Rose Peterson</a>
									<div class="d-flex justify-content-between">
										<div class="prof-location">
											<span class="bx bxs-map-pin"></span> <span>Nigeria</span>
										</div>
										<span class="prof-location">9 secs ago..</span>
									</div>
								</div>
							</div>

							<div style="margin: 0 !important;" class="image fit">
								<a href="detail1.html"><img src="/images/pic08.jpg" alt="" /></a>
							</div>
							
							<div class="w-100 new-div px-3 d-flex justify-content-between align-items-center">
									<i class="bx bxs-heart reactions like-react"></i>
									<i class="bx bxs-comment-dots reactions"></i>
									<i class="bx bxs-bookmark-plus reactions"></i>
								</div>
						</div>
						<div class="main-holder">
							<div class="w-100 profile d-flex">
								<div style="background-image: url(/./images/pic01.jpg);" class="profile-pic"></div>
								<div class="ml-2 w-100">
									<a class="prof-name">Rose Peterson</a>
									<div class="d-flex justify-content-between">
										<div class="prof-location">
											<span class="bx bxs-map-pin"></span> <span>Nigeria</span>
										</div>
										<span class="prof-location">9 secs ago..</span>
									</div>
								</div>
							</div>

							<div style="margin: 0 !important;" class="image fit">
								<a href="detail1.html"><img src="/images/pic07.jpg" alt="" /></a>
							</div>
							
							<div class="w-100 new-div px-3 d-flex justify-content-between align-items-center">
									<i class="bx bxs-heart reactions like-react"></i>
									<i class="bx bxs-comment-dots reactions"></i>
									<i class="bx bxs-bookmark-plus reactions"></i>
								</div>
						</div>
						<!-- Column 3 (horizontal, vertical, horizontal, vertical) -->
						<div class="main-holder">
							<div class="w-100 profile d-flex">
								<div style="background-image: url(/./images/pic01.jpg);" class="profile-pic"></div>
								<div class="ml-2 w-100">
									<a class="prof-name">Mary Gena</a>
									<div class="d-flex justify-content-between">
										<div class="prof-location">
											<span class="bx bxs-map-pin"></span> <span>Nigeria</span>
										</div>
										<span class="prof-location">9 secs ago..</span>
									</div>
								</div>
							</div>

							<div style="margin: 0 !important;" class="image fit">
								<a href="detail1.html"><img src="/images/pic09.jpg" alt="" /></a>
							</div>
							
							<div class="w-100 new-div px-3 d-flex justify-content-between align-items-center">
									<i class="bx bxs-heart reactions like-react"></i>
									<i class="bx bxs-comment-dots reactions"></i>
									<i class="bx bxs-bookmark-plus reactions"></i>
								</div>
						</div>
						<div class="main-holder">
							<div class="w-100 profile d-flex">
								<div style="background-image: url(/./images/pic01.jpg);" class="profile-pic"></div>
								<div class="ml-2 w-100">
									<a class="prof-name">Mary Gena</a>
									<div class="d-flex justify-content-between">
										<div class="prof-location">
											<span class="bx bxs-map-pin"></span> <span>Nigeria</span>
										</div>
										<span class="prof-location">9 secs ago..</span>
									</div>
								</div>
							</div>

							<div style="margin: 0 !important;" class="image fit">
								<a href="detail1.html"><img src="/images/pic12.jpg" alt="" /></a>
							</div>
							
							<div class="w-100 new-div px-3 d-flex justify-content-between align-items-center">
									<i class="bx bxs-heart reactions like-react"></i>
									<i class="bx bxs-comment-dots reactions"></i>
									<i class="bx bxs-bookmark-plus reactions"></i>
								</div>
						</div>
						<div class="main-holder">
							<div class="w-100 profile d-flex">
								<div style="background-image: url(/./images/pic01.jpg);" class="profile-pic"></div>
								<div class="ml-2 w-100">
									<a class="prof-name">Mary Gena</a>
									<div class="d-flex justify-content-between">
										<div class="prof-location">
											<span class="bx bxs-map-pin"></span> <span>Nigeria</span>
										</div>
										<span class="prof-location">9 secs ago..</span>
									</div>
								</div>
							</div>

							<div style="margin: 0 !important;" class="image fit">
								<a href="detail1.html"><img src="/images/pic11.jpg" alt="" /></a>
							</div>
							
							<div class="w-100 new-div px-3 d-flex justify-content-between align-items-center">
									<i class="bx bxs-heart reactions like-react"></i>
									<i class="bx bxs-comment-dots reactions"></i>
									<i class="bx bxs-bookmark-plus reactions"></i>
								</div>
						</div>
						<div class="main-holder">
							<div class="w-100 profile d-flex">
								<div style="background-image: url(/./images/pic01.jpg);" class="profile-pic"></div>
								<div class="ml-2 w-100">
									<a class="prof-name">Mary Gena</a>
									<div class="d-flex justify-content-between">
										<div class="prof-location">
											<span class="bx bxs-map-pin"></span> <span>Nigeria</span>
										</div>
										<span class="prof-location">9 secs ago..</span>
									</div>
								</div>
							</div>

							<div style="margin: 0 !important;" class="image fit">
								<a href="detail1.html"><img src="/images/pic10.jpg" alt="" /></a>
							</div>
							
							<div class="w-100 new-div px-3 d-flex justify-content-between align-items-center">
									<i class="bx bxs-heart reactions like-react"></i>
									<i class="bx bxs-comment-dots reactions"></i>
									<i class="bx bxs-bookmark-plus reactions"></i>
								</div>
						</div>
						<!--  -->
						
						<!-- Column 4 (vertical, horizontal, vertical, horizontal) -->
						<div class="main-holder">
							<div class="w-100 profile d-flex">
								<div style="background-image: url(/./images/pic01.jpg);" class="profile-pic"></div>
								<div class="ml-2 w-100">
									<a class="prof-name">Mary Gena</a>
									<div class="d-flex justify-content-between">
										<div class="prof-location">
											<span class="bx bxs-map-pin"></span> <span>Nigeria</span>
										</div>
										<span class="prof-location">9 secs ago..</span>
									</div>
								</div>
							</div>

							<div style="margin: 0 !important;" class="image fit">
								<a href="detail1.html"><img src="/images/pic13.jpg" alt="" /></a>
							</div>
							
							<div class="w-100 new-div px-3 d-flex justify-content-between align-items-center">
									<i class="bx bxs-heart reactions like-react"></i>
									<i class="bx bxs-comment-dots reactions"></i>
									<i class="bx bxs-bookmark-plus reactions"></i>
								</div>
						</div>
						<div class="main-holder">
							<div class="w-100 profile d-flex">
								<div style="background-image: url(/./images/pic01.jpg);" class="profile-pic"></div>
								<div class="ml-2 w-100">
									<a class="prof-name">Mary Gena</a>
									<div class="d-flex justify-content-between">
										<div class="prof-location">
											<span class="bx bxs-map-pin"></span> <span>Nigeria</span>
										</div>
										<span class="prof-location">9 secs ago..</span>
									</div>
								</div>
							</div>

							<div style="margin: 0 !important;" class="image fit">
								<a href="detail1.html"><img src="/images/pic14.jpg" alt="" /></a>
							</div>
							
							<div class="w-100 new-div px-3 d-flex justify-content-between align-items-center">
									<i class="bx bxs-heart reactions like-react"></i>
									<i class="bx bxs-comment-dots reactions"></i>
									<i class="bx bxs-bookmark-plus reactions"></i>
								</div>
						</div>
						<div class="main-holder">
							<div class="w-100 profile d-flex">
								<div style="background-image: url(/./images/pic01.jpg);" class="profile-pic"></div>
								<div class="ml-2 w-100">
									<a class="prof-name">Mary Gena</a>
									<div class="d-flex justify-content-between">
										<div class="prof-location">
											<span class="bx bxs-map-pin"></span> <span>Nigeria</span>
										</div>
										<span class="prof-location">9 secs ago..</span>
									</div>
								</div>
							</div>

							<div style="margin: 0 !important;" class="image fit">
								<a href="detail1.html"><img src="/images/pic15.jpg" alt="" /></a>
							</div>
							
							<div class="w-100 new-div px-3 d-flex justify-content-between align-items-center">
									<i class="bx bxs-heart reactions like-react"></i>
									<i class="bx bxs-comment-dots reactions"></i>
									<i class="bx bxs-bookmark-plus reactions"></i>
								</div>
						</div>
						<div class="main-holder">
							<div class="w-100 profile d-flex">
								<div style="background-image: url(/./images/pic01.jpg);" class="profile-pic"></div>
								<div class="ml-2 w-100">
									<a class="prof-name">Mary Gena</a>
									<div class="d-flex justify-content-between">
										<div class="prof-location">
											<span class="bx bxs-map-pin"></span> <span>Nigeria</span>
										</div>
										<span class="prof-location">9 secs ago..</span>
									</div>
								</div>
							</div>

							<div style="margin: 0 !important;" class="image fit">
								<a href="detail1.html"><img src="/images/pic16.jpg" alt="" /></a>
							</div>
							
							<div class="w-100 new-div px-3 d-flex justify-content-between align-items-center">
									<i class="bx bxs-heart reactions like-react"></i>
									<i class="bx bxs-comment-dots reactions"></i>
									<i class="bx bxs-bookmark-plus reactions"></i>
								</div>
						</div>

					</div>
				</div>
			</div>

		<!-- Footer -->
			<%- include("./partials/footer.ejs")  %> 

		<!-- Scripts -->
			<%- include("./partials/bottomScripts.ejs")  %> 

	</body>
</html>