body{
    /* background-color: #fcfcfc; */
    background-color: #18191a;
}
#header{
    background: rgba(0, 0, 0, 0.637) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.button.alt{
    color: #1488CC
}
#footer .inner, #footer .info, #header .inner{
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 10;
}
.main-holder{
    margin-bottom: 1rem;
    position: relative;
    height: fit-content !important;
    /* box-shadow: 2px 7px 31px -15px rgba(0, 0, 0, 0.219); */
}

.profile{
    position: absolute;
    height: fit-content;
    padding: 10px;
    z-index: 9;
    background-color: #242526;
    color: #ffffff;
}
.prof-name{
    font-weight: 900;
}
.prof-location{
    font-size: 0.6rem;
}
.profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 40%;
    background: black; 
    background-size: cover; 
    background-position: center;
}

.new-div{
    position: absolute;
    bottom: 0;
    /* background-color: #ffac81;
    background-image: linear-gradient(315deg, #ffac81 0%, #ff928b 74%); */
    background: #0F2027;  /* fallback for old browsers */
    height: 40px;
    /* z-index: 100000; */
}

.reactions{
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
}
